@font-face {
  font-family: "Eina";
  src: local('Eina'), url(./fonts/Eina/Eina01-Bold.ttf);
}

.Eina {
  font-family: "Eina";
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    margin-top: 60px;
}

.right {
    right: 0;
    text-align: left;
    justify-content: center;
    margin-top: 60px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#iconSelect img {
    border-radius: 50%;
}

.pfpstyle{
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #ffbffe;
}

.titleBar {
    margin-bottom: 50px;
}

#banner {
    pointer-events: all;
    font-family: "Eina";
    background-image: linear-gradient(0deg, #a968fd 0%, #7300ff 100%);
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 25px #00000077;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(109, 2, 136, 0.986);
    outline: 1px solid slategrey;
}

#lobbyParent {
    margin: auto;
    margin-top: 15px;
    padding: 50px;
    padding-top: 15px;
    border-radius: 20px;
    width: fit-content;
    background-image: linear-gradient(0deg, #a968fd 0%, #7300ff 100%);
    box-shadow: 5px 10px #00000033;
    max-width: 1000px;
}

#splitScreen {
  display: flex;
  justify-content: center;
}