@font-face {
    font-family: "Eina";
    src: local('Eina'), url(./fonts/Eina/Eina01-Bold.ttf);
}


#menuContainer {
    margin: auto;
    margin-top: 150px;
    padding: 50px;
    border-radius: 20px;
    width: fit-content;
    background-image: url("./menuBackground.png");
    box-shadow: 5px 10px #00000033;
    max-width: 800px;
}

#nameInput {
    color: black;
    height: 75px;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #f1deff;
    border: 2px solid black;
    font-size: 40px;
    color: #4b2670;
    font-family: Eina;
}

#nameInput:focus {
    outline: none;
    background-color: #e0b8ff;
    /* background-image: radial-gradient(ellipse at bottom, #bafdff, transparent); */
}

::placeholder {
    color:    #9977ba;
}

#codeInput {
    color: black;
    height: 75px;
    width: 100%;
    box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    margin-right: 5px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #f1deff;
    border: 2px solid black;
    font-size: 40px;
    margin-bottom: 10px;
    font-family: Eina;
}

#codeInput:focus {
    outline: none;
    background-color: #e0b8ff;
}
